/* App.css
/* ---------------------------------------------------------- /*
These are just some base styles to get you started. You delete
these and start over using your toolset of choice, or evolve
what's here to work the way you'd like it to.
# Table of Contents
- Vars
- Reset
- Defaults
- Layout
- Tag Archives
- Author Archives
- Pagination
- Footer
/* Variables
/* ---------------------------------------------------------- */

:root {
  /* Colours */
  --color-primary: #3eb0ef;
  --color-base: #15171a;
  --color-secondary: #5b7a81;
  --color-border: #c7d5d8;
  --color-tertiary: #f5f5f5;
  --color-bg: #f5f5f5;
  --color-gr: #7ebd4c;
  --color-lgr: #bce98f;
  --color-pgr: #3b6456;

  /* Fonts */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono: Menlo, Courier, monospace;
  --font-montserrat: "Montserrat", Arial, sans-serif;
  --font-light: 100;
  --font-normal: 300;
  --font-bold: 700;
  --font-heavy: 800;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.6rem;

  --padding-vertical: 4vw 0;
}

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: var(--font-sans-serif);
  font-weight: var(--font-normal);
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

img {
  max-width: 100%;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}

small {
  font-size: 80%;
  padding: 50px 0;
  color: var(--color-secondary);
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
mark {
  background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;

  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input:focus {
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;

  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}

.table-wrapper {
  overflow-x: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

@media (max-width: 665px) {
  .table-wrapper {
    width: 300px;
  }
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  box-shadow: 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  border-radius: 10px;
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;
  border: 0;
}
thead tr {
  background-color: var(--color-gr);
  color: white;
  text-align: left;
  font-weight: bold;
}
th,
td {
  padding: 12px 15px;
}
tbody tr {
  border-bottom: thin solid #dddddd;
  border-radius: 10px;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-lgr);
}

/* Defaults
/* ---------------------------------------------------------- */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  background: var(--color-base);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  color: #3c484e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

::selection {
  text-shadow: none;
  background: #cbeafb;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 1.8em 0 2.4em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e9ed;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
  margin: 0 0 1.5em 0;
}

ol,
ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  max-width: 100%;
}

li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  font-weight: 500;
  text-align: right;
}

dd {
  margin: 0 0 5px 0;
  text-align: left;
}

blockquote {
  margin: 0.3em 0 1.8em;
  padding: 0 1.6em 0 1.6em;
  border-left: var(--color-lgr) 0.5em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}

a {
  color: var(--color-pgr);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

.lighten {
  opacity: 0.8;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 680px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2rem;
}
@media (max-width: 680px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 680px) {
  h3 {
    font-size: 1.7rem;
  }
}

h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.6rem;
  font-weight: 500;
}

h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

h6 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Layout
/* ---------------------------------------------------------- */

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container-site-head {
  max-width: 1120px;
  margin: 0 auto;
  padding: 1vw 6vw;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 4vw 12vw;
}

@media (min-width: 1500px) {
  .container-site-head {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2vw 0;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2vw 4vw;
  }
}

@media (max-width: 670px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 10vw 4vw;
  }
}

.content {
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.7em;
}

.content-body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-serif);
}

.post-full-content {
  max-width: 720px;
  margin: 0 auto;
  background: #fff;
}

.post-feature-image img {
  margin: 0 0 3vw;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
  font-family: var(--font-sans-serif);
}

.content-body h1 {
  margin: 0.5em 0 0.5em 0;
  font-size: 3.4rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h1 {
    font-size: 2.8rem;
  }
}

.content-title {
  margin: 0.2em 0;
  font-size: 5rem;
  opacity: 0.9;
}
@media (max-width: 500px) {
  .content-title {
    margin: 0.8em 0;
    font-size: 3.4rem;
  }
  .content {
    font-size: 1.8rem;
  }
}

.content-body h2 {
  margin: 0.8em 0 0.4em 0;
  font-size: 3.2rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h2 {
    font-size: 2.6rem;
  }
}

.content-body h3 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2.8rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h3 {
    font-size: 2.2rem;
  }
}

.content-body h4 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h4 {
    font-size: 2.2rem;
  }
}

.content-body h5 {
  display: block;
  margin: 0.5em 0;
  padding: 1em 0 1.5em;
  border: 0;
  font-family: Georgia, serif;
  color: var(--color-primary);
  font-style: italic;
  font-size: 3.2rem;
  line-height: 1.35em;
  text-align: center;
}

.content-body h6 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2rem;
  font-weight: 700;
}

.content-body figure {
  margin: 0.4em 0 1.6em;
  font-size: 2.8rem;
  font-weight: 700;
}

.content-body pre {
  margin: 0.4em 0 1.8em;
  font-size: 1.6rem;
  line-height: 1.4em;
  white-space: pre-wrap;
  padding: 20px;
  background: var(--color-base);
  color: #fff;
  border-radius: 12px;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Header
/* ---------------------------------------------------------- */

.site-head {
  color: #fff;
  background: var(--color-pgr);
  background-position: center;
  background-size: cover;
}

.site-nav-item {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  opacity: 0.9;
  font-weight: 600;
  font-size: 1.7rem;
}

.site-nav-item:hover {
  text-decoration: none;
  opacity: 1;
}

.site-nav-icon {
  height: 15px;
  margin: -5px 0 0;
}

.site-mast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-mast-right .site-nav-item:last-child {
  padding-right: 0;
}

.site-banner {
  margin: 0 auto;
  padding: 12vw 2vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
@media (max-width: 680px) {
  .site-banner {
    margin: 0 auto;
    padding: 24vw 2vw;
  }
}

.site-banner-title {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 4rem;
  line-height: 1.3em;
  opacity: 0.9;
}

.site-banner-desc {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 2.1rem;
  line-height: 1.3em;
  font-weight: 300;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 15px 0 0 0; */
}

.site-nav-left {
  margin: 0 20px 0 -10px;
}

.site-nav-button {
  display: inline-block;
  padding: 10px 15px;
  border: #fff 1px solid;
  color: #fff;
  line-height: 1em;
  border-radius: var(--radius);
  opacity: 0.8;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 3vw;
}
@media (max-width: 680px) {
  .site-nav-button {
    display: block;
    padding: 8px 15px;
    margin: 0.4em auto;
    margin-top: 2vw;
    font-size: 1.5rem;
  }
}

@media (min-width: 1500px) {
  .site-nav-button {
    display: block;
    padding: 15px 30px;
    margin: 0.4em auto;
    margin-top: 2vw;
    font-size: 2rem;
  }
}

.site-nav-button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

/* Main
/* ---------------------------------------------------------- */

/* Index
/* ---------------------------------------------------------- */
.central-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding: var(--padding-vertical);
}

.central-banner-title {
  margin: 0;
  padding-top: 1vw;
  color: black;
  opacity: 0.7;
  font-size: 3.5rem;
  line-height: 1.3em;
}
@media (max-width: 768px) {
  .central-banner-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 600px) {
  .central-banner-title {
    font-size: 2.8rem;
    opacity: 0.7;
  }
}

.central-banner-desc {
  margin: 22px 0 0 0;
  padding-bottom: 5vw;
  font-size: 2.5rem;
  line-height: 1.3em;
  opacity: 0.7;
  text-align: center;
}
@media (max-width: 768px) {
  .central-banner-desc {
    font-size: 2.2rem;
    padding-bottom: 9vw;
  }
}

@media (max-width: 600px) {
  .central-banner-desc {
    font-size: 1.9rem;
    padding-bottom: 12vw;
  }
}

.central-banner-title-white {
  margin: 0;
  padding-top: 1vw;
  font-size: 3.5rem;
  line-height: 1.3em;
}
@media (max-width: 768px) {
  .central-banner-title-white {
    font-size: 3.2rem;
  }
}

@media (max-width: 600px) {
  .central-banner-title-white {
    font-size: 2.8rem;
  }
}

.central-banner-desc {
  margin: 22px 0 0 0;
  padding-bottom: 5vw;
  font-size: 2.5rem;
  line-height: 1.3em;
  opacity: 0.7;
  text-align: center;
}
@media (max-width: 768px) {
  .central-banner-desc {
    font-size: 2.2rem;
    padding-bottom: 9vw;
  }
}

@media (max-width: 600px) {
  .central-banner-desc {
    font-size: 1.9rem;
    padding-bottom: 12vw;
  }
}

.certification {
  height: 500px;
  width: 300px;
}

.post-feed {
  display: grid;
  justify-content: space-between;
  grid-gap: 5vw;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 980px) {
  .post-feed {
    grid-gap: 9vw;
  }
}
@media (max-width: 600px) {
  .post-feed {
    grid-template-columns: 1fr;
    grid-gap: 12vw;
  }
}

.post-card {
  color: inherit;
  text-decoration: none;
  padding: 2rem;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.post-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  text-decoration: none;
}

.post-card-tags {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
  line-height: 1.15em;
  color: var(--color-secondary);
}

.post-card-title {
  margin: 20px 0 10px 0;
  font-size: 2.8rem;
  opacity: 0.7;
}

.post-card-excerpt {
  padding: 0.5em 0;
  font-size: 2rem;
  line-height: 1.3em;
  opacity: 0.7;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

@media (max-width: 768px) {
  .post-card-excerpt {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .post-card-excerpt {
    font-size: 1.4rem;
  }
}

.post-card-image {
  margin: 0 0 40px 0;
  width: auto;
  height: 200px;
  background: var(--color-secondary) no-repeat center center;
  background-size: cover;
  border-radius: 10px;
}

.post-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
  color: var(--color-secondary);
}

.post-card-footer-left {
  display: flex;
  align-items: center;
}

.post-card-footer-right {
  display: flex;
  flex-direction: column;
}

.card-button {
  display: inline-block;
  background-color: white;
  padding: 0.35em 1.2em;
  border: thin solid rgb(216, 210, 210);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.42em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}
.card-button:hover {
  background-color: rgb(236, 234, 234);
}
@media all and (max-width: 30em) {
  .card-button {
    display: block;
    margin: 0.4em auto;
  }
}

.certification-feed {
  display: grid;
  justify-content: space-between;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
  .certification-feed {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 680px) {
  .certification-feed {
    grid-template-columns: 1fr;
  }
}

.certification-card {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.certification-card:hover {
  text-decoration: none;
}

.certification-card-title {
  margin: 0 0 10px 0;
  font-size: 2.8rem;
  font-weight: 500;
  font-family: var(--font-montserrat);
}

.certification-card-excerpt {
  padding: 0.5em 0;
  font-size: 1.8rem;
  line-height: 1.55em;
}

.certification-card-image {
  margin: 0 0 20px 0;
  width: 300px;
  background: var(--color-secondary) no-repeat center center;
  background-size: cover;
}

.certification-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
  color: var(--color-secondary);
}

.certification-card-footer-left {
  display: flex;
  align-items: center;
}

.certification-card-footer-right {
  display: flex;
  flex-direction: column;
}

.contact-feed {
  display: grid;
  justify-content: space-between;
  grid-gap: 60px;
  grid-template-columns: 1fr;
}

/* @media (max-width: 980px) {
  .contact-feed {
    grid-template-columns: 1fr;
  }
} */
/* @media (max-width: 680px) {
  .contact-feed {
    grid-template-columns: 1fr;
  }
} */

.contact-card {
  color: inherit;
  text-decoration: none;
}

.contact-card-tags {
  margin: 0 0 5px 0;
  font-size: 1.6rem;
  line-height: 1.15em;
  color: var(--color-secondary);
}

.contact-card-title {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 700;
  opacity: 0.7;
  font-family: var(--font-montserrat);
  padding-left: 20px;
}

.contact-card-excerpt {
  padding: 0.5em 0;
  line-height: 1.55em;
}

.contact-card-contacts {
  display: grid;
  grid-gap: 8rem;
  padding: 0.5em 0;
  grid-template-columns: 200px 200px;
  /* border-left: 2px solid var(--color-lgr); */
  padding-left: 20px;
}

@media (max-width: 680px) {
  .contact-card-contacts {
    grid-gap: 5rem;
    grid-template-columns: 200px;
    /* border-left: 2px solid var(--color-lgr); */
    padding-left: 20px;
  }
}

.contact-card-contacts-item {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.contact-card-address {
  display: flex;
  flex-direction: column;
  padding: 0.5em 20px 2em 20px;
  line-height: 1.55em;
}

.contact-card-footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.contact-card-footer-left {
  display: flex;
  align-items: center;
}

.contact-card-footer-right {
  display: flex;
  align-items: center;
}

.highlight-content {
  color: #9bcf48;
  font-weight: 500;
  padding: 5px 0;
}

/* Footer
/* ---------------------------------------------------------- */

.site-foot {
  padding: 20px 0 10px 0;
  color: rgba(255, 255, 255, 0.7);
  background: var(--color-pgr);
}
.site-foot-rights-reserved {
  padding: 0;
}

@media (max-width: 680px) {
  .site-foot-rights-reserved {
    padding: 8vw 0 0 0;
  }
}
.site-foot-grid {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-gap: 2vw;
  grid-template-areas: "site-foot-logo site-foot-quick-links site-foot-site site-foot-about";
}

@media (max-width: 680px) {
  .site-foot-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8vw;
    grid-template-areas: "site-foot-logo" "site-foot-about" "site-foot-site" "site-foot-quick-links";
  }
}
.footer-values {
  padding-top: 2vw;
}
.site-col {
  display: flex;
  flex-direction: column;
}
.site-foot-logo {
  grid-area: site-foot-logo;
}

.site-foot-about {
  grid-area: site-foot-about;
}
.site-foot-site {
  grid-area: site-foot-site;
}
.site-foot-quick-links {
  grid-area: site-foot-quick-links;
}

.site-foot-grid a {
  color: rgba(255, 255, 255, 0.7);
}

.site-foot-grid a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.site-foot-nav-right a {
  display: inline-block;
  padding: 2px 5px;
}

.site-foot-nav-right a:last-child {
  padding-right: 0;
}

/* Components
/* ---------------------------------------------------------- */

.img-general {
  border-radius: 20px;
  margin: 0 0 2vw 0;
  width: auto;
  background: var(--color-secondary) no-repeat center center;
  background-size: cover;
}

.padding-horizontal-2 {
  padding: 2em 0;
}
